#addon_sd_google_authenticatorinstalled .bg-icon i,
#addon_sd_google_authenticator .bg-icon i {
    display: none;
}

#sd_google_authenticator_code_string {
    border: 1px dotted #ccc;
    position: relative;
    text-align: center;
    width: 300px;
}

#remember_device {
    float: left;
    margin-right: 5px;
}

#div_remember_device {
    margin-top: 5px;
}